<!DOCTYPE html>
<html>
<head>
  <!-- Include CSS stylesheets and meta tags -->
</head>
<body>
  <header>
    <!-- Navigation links -->
  </header>

  <main>
    <div class="container">
      <div class="post">
        <h2><%= @bloging.title %></h2>
        <p><%= @bloging.content %></p>
        <%= image_tag @bloging.image.url if @bloging.image.present? %>
      </div>

      <div class="back-link">
        <%= link_to 'Back to Posts', blogings_path %>
      </div>
    </div>
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</body>
</html>
